@import  url('https://fonts.googleapis.com/css2?family=Alegreya:ital@1&family=Libre+Franklin:ital,wght@0,300;1,100&family=Lora:ital,wght@1,400;1,600&family=Merriweather+Sans:ital,wght@1,300&family=Roboto:ital@1&display=swap');
@import 'bootstrap';
*{
margin: 0;
padding: 0%;
box-sizing: border-box;
}



.tarjetas img{
    padding-top: 6px;
    width: 60px;

}
.Crytomonedas img{
    width:60px;
}
.Crytomonedas img:first-of-type{
    width: 30px;
}
.EstiloContacto{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: xx-large;
}

.borderButton{
    display: flex;
width: 80px;
height: 50px;
    border: solid;
    background-color: #c7bcb7a9;

}
.contenedorForm{
    width: 400px;

}
.contenedorIMG{
height: 100px;
justify-content: center;
display: flex;


}
.contenedorIMG img{
width: 100px;
height: 100%;

}


.escalableMap:hover{
    transform: scale(110%,110%);
transition-property:transform ;
/* profe, aca me funcion bien poniedo el property y el duration en el hover,lo dejo asi? */
transition-duration:3s ;
}

.imgEmpresas{
    
    width: 500px;
    height: 100px;
}
.imgEmpresas img{
    width:60px;
    height: auto;

}
footer{
    background-color: #212529;
}

.text-start{
    color: #212529;
}
.footerContacto h3{
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 300;
}
.footerContacto p{
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 100;
}


.FooterIndex{
    background-color: #212529;
}
footer ul ,li,h3,p{
    color: rgba(255, 255, 255, 0.5);
}
.SegundoULfooterIndex{
    list-style-type: none;
}
.borderFooterliIndex{
    border: 1px solid whitesmoke;
    border-radius:5px ;
    margin: 3px;
    padding:1px;
    list-style-type: none;
}




